<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="card">

        <h2>➕ Add Student</h2>

        <form method="POST">
            <input name="name" placeholder="Enter Name" required>
            <input name="age" placeholder="Enter Age" required>

            <button type="submit" class="btn-add">Add Student</button>
        </form>

        <br>

        <a href="/" class="btn-edit">⬅ Back</a>

    </div>

</div>

</body>
</html>