<!DOCTYPE html>
<html>
<head>
    <title>Student System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>🎓 Student Dashboard</h1>

<div style="text-align:center; margin-bottom:20px;">
    <a class="btn-add" href="/add">+ Add Student</a>
</div>

<div class="card">

    {% for s in students %}
    <div class="student-card">
        <div>
            <b>{{ loop.index }}.</b>
            {{ s.name }} (Age: {{ s.age }})
        </div>

        <div>
            <a class="btn-edit" href="/edit/{{ loop.index0 }}">Edit</a>
            <a class="btn-delete" href="/delete/{{ loop.index0 }}">Delete</a>
        </div>
    </div>
    {% endfor %}

</div>

</div>

</body>
</html>